body
 {
    background-color:blue;


}

.float {
    float: left;
}

a img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

ul li:last-child {
    color: red;

}

ul li {
    color: green;
}


body {
    display: flex;
    flex-direction: column;
    gap: 2em;
}
